.profile-container {
    width: 700px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 26, 26, 0.1);
    background:  #eaeaea;
    margin-left: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.profile-form .form-group {
    width: 80%;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;

    font-weight: bold;
}


/* profile.css veya profil sayfanızın stil dosyası */
.profile-input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* Diğer özel stillemeler */
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}
